<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Build-A-Blog</title>
    <link rel="stylesheet" href="/public/css/styels.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <header class="hero">
        <div>

          <nav class="navbar">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/dashboard">Dashboard</a>
            {{#if loggedIn}}
              <a class="nav-link" href="/" id="logout">Logout</a>
            {{else}}
              <a class="nav-link" href="/login">Login</a>
            {{/if}}
          </nav>
        </div>
        <h1 class="site">Build-A-Blog</h1>
      </header>
      <main class="col-auto">
        {{{body}}}
      </main>
    </div>

    {{#if loggedIn}}
      <script src="/public/js/logout.js"></script>
    {{/if}}
  </body>
</html>